<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width; initial-scale=1.0;">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
	<title>Seaquam Vex Robotics Scouting</title>
</head>
<body>
	<header><h1>Agenda</h1></header>
	<h2 class="grey">Information pulled from Robot Events. Not necessarily accurate.</h2>
	<h3>Friday</h3>
	<ul>
		<li><span class="time">6:00pm-8:30pm</span> Technical inspections and Practice fields open.</li>
	</ul>
	<br>
	<h3>Saturday</h3>
	<ul>
		<li><span class="time">7:30am</span> Doors open.</li>
		<li><span class="time">9:00am</span> Opening Ceremonies.</li>
		<li><span class="time">9:15am-2:30pm</span> Qualification Rounds.</li>
		<li><span class="time">3:00pm-4:30pm</span> Elimination Rounds.</li>
		<li><span class="time">5:00pm</span> Awards.</li>
		<li><span class="time">5:30pm</span> Event wrap-up.</li>
		<br>
	</ul>
</body>
</html>
